
Temp/UnityLockfile
.vs/War_For_The_Ring/v15/.suo
.vs/War_For_The_Ring/v15/Server/sqlite3/db.lock
.vs/War_For_The_Ring/v15/Server/sqlite3/storage.ide
.vs/War_For_The_Ring/v15/Server/sqlite3/storage.ide-shm
.vs/War_For_The_Ring/v15/Server/sqlite3/storage.ide-wal
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/shadercompiler-UnityShaderCompiler.exe0.log
